.vs/OneLastSong/CopilotIndices/0.2.1653.9816/CodeChunks.db
.vs/OneLastSong/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
.vs/OneLastSong/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
.vs/OneLastSong/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
.vs/OneLastSong/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/OneLastSong/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
.vs/OneLastSong/FileContentIndex/0d01bd57-f171-439e-9364-6bd29d43cb13.vsidx
.vs/OneLastSong/FileContentIndex/4e3b5c8b-647e-4f8a-a4da-459082b4b5d2.vsidx
.vs/OneLastSong/v17/.futdcache.v2
.vs/OneLastSong/v17/.suo
.vs/OneLastSong/v17/DocumentLayout.backup.json
.vs/OneLastSong/v17/DocumentLayout.json
.vs/ProjectEvaluation/onelastsong.metadata.v9.bin
.vs/ProjectEvaluation/onelastsong.projects.v9.bin
.vs/ProjectEvaluation/onelastsong.strings.v9.bin
